layout {
  cwd "~/projects"
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true{
      plugin location="zellij:status-bar"
    } 
  }
  tab name="Running..." split_direction="horizontal" focus=true {
    pane name="Backend" {
      command "yarn"
      args "start"
      cwd "fullcomm/backend-start/"
    }
    pane name="Frontend" {
      command "yarn"
      args "dev"
      cwd "fullcomm/cms/"
    }
  }
  tab name="Back" borderless=true {
    pane borderless=true {
      command "lvim"
      args "."
      cwd "fullcomm/backend-start/"
    }
  }
  tab name="Front" borderless=true {
    pane borderless=true {
      command "lvim"
      args "."
      cwd "fullcomm/cms/"
    }
  }
} 
