layout  name="App WH"{
  cwd "~/projects"
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true{
      plugin location="zellij:status-bar"
    } 
  }
  tab name="Running..." split_direction="horizontal" focus=true{
    pane name="Database" {
      command "docker"
      args "start" "-a" "mongodb"
    }
    pane name="Backend" {
      command "bun"
      args "start"
      cwd "whathave/server"
    }
    pane name="Frontend" {
      command "bun"
      args "dev"
      cwd "whathave/client"
    }
  }
  tab name="Back" borderless=true {
    pane borderless=true {
      command "lvim"
      args "."
      cwd "whathave/server"
    }
  }
  tab name="Front" borderless=true {
    pane borderless=true {
      command "lvim"
      args "."
      cwd "whathave/client"
    }
  }
} 
